header {
    padding: 20px;
}

.btn {
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    background-color: #fff;
    color: #252525;
    font-weight: 500;
    font-size: 11pt;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.container {
    margin-top: 20px;
    width: 950px;
}

.card {
    width: 300px;
    border: 0px;
}

main {
    margin-bottom: 50px;
}

h5 {
    font-size: 12pt;
    display: inline;
    margin-right: 45px;
}

h6 {
    display: inline;
    padding: 3px;
}

.gray {
    color: #8c8c8c;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #f6f5f1;
    --bs-nav-pills-border-radius: 20px;
    --bs-nav-pills-link-active-color: black;
}

.nav-pills:hover {
    --bs-nav-pills-link-active-bg: #f2f0ec;
}

.nav-link:hover {
    color: #6e6e6e;
}

